/so101_ws/src/*
/so101_ws/log
/so101_ws/build
/so101_ws/install
!/so101_ws/src/so101_ros2
/third_party/*
!/third_party/lerobot
/docker/Dockerfile
/outputs
/calibration
/isaac_so101
/answers
/archive
/huggingface/*
!/huggingface/README.md
CLAUDE.md
.claude
HUMBLE*
JAZZY*
OLD*
working*
BACK*
logs
lab_materials/